<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
	<Appenders>
		<RollingFile name="fileAppender" fileName="${catalina.base}/logs/japaneseDictionaryWeb.log" filePattern="${catalina.base}/logs/japaneseDictionaryWeb.log-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		<Console name="consoleAppender" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="fileAppender" />
		</Root>
	</Loggers>
</Configuration>
