.settings
.classpath
.project
target
db/word.csv
db/kana.csv
db/kanji.csv
db/radical.csv
db/transitive_intransitive_pairs.csv
src/main/resources/db/kana.csv
src/main/resources/db/radical.csv
src/main/resources/db/transitive_intransitive_pairs.csv
