.settings
.classpath
.project
target
src/main/resources/db/kana.csv
src/main/resources/db/radical.csv
src/main/resources/db/transitive_intransitive_pairs.csv
src/main/resources/db/kanji_recognizer.model.db
src/main/resources/db/db-lucene/

profiles/test
profiles/production

db/dictionary.pdf
