#radicals a:link { color: black; }
#radicals a:visited { color: black; }
#radicals a:hover { color: blue; }

[data-theme="dark"] {
  background: #181a1b;
  color: #c3beb7;
}

/* Cookie warning */
[data-theme="light"] #cookie-warn {
	position: fixed;
	bottom: 0;
	background: #EEE;
	margin: 0;
	padding: 15px;
	width: 90%;
	display: none;
	z-index: 99;
	color: #3e3e3e;
}

/* Cookie warning */
[data-theme="dark"] #cookie-warn {
	position: fixed;
	bottom: 0;
	background: #222426;
	margin: 0;
	padding: 15px;
	width: 90%;
	display: none;
	z-index: 99;
	color: #c3beb7;
}
 
#cookie-warn a {
	color: #D66E1A;
	float: right;
	padding-right: 20px;
}
 
[data-theme="light"] #cookie-warn p {
	font-size: 12px;
	color: #333;
}		

[data-theme="dark"] #cookie-warn p {
	font-size: 12px;
	color: #9D9488;
}

