#radicals a:link { color: black; }
#radicals a:visited { color: black; }
#radicals a:hover { color: blue; }

/* FM_FIXME: testy !!!!! */
[data-theme="dark"] {
  background: #121212;
  /* color: #e0e0e0; */
}

/* Cookie warning */
#cookie-warn {
	position: fixed;
	bottom: 0;
	background: #EEE;
	margin: 0;
	padding: 15px;
	width: 90%;
	display: none;
	z-index: 99;
}
 
#cookie-warn a {
	color: #D66E1A;
	float: right;
	padding-right: 20px;
}
 
#cookie-warn p {
	font-size: 12px;
	color: #333;
}		
